<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="/" class="simple-text logo-mini">
          N.T
        </a>
        <a href="/" class="simple-text logo-normal">
          داشبورد پیشبینی و تحلیل فروش
        </a>
      </div>
      <ul class="nav">
        <li>
          <a href="/">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>داشبورد</p>
          </a>
        </li>
        <li>
          <a href="{% url 'icons' %}">
            <i class="tim-icons icon-atom"></i>
            <p>آیکون ها</p>
          </a>
        </li>
<!--        <li>-->
<!--          <a href="/map.html">-->
<!--            <i class="tim-icons icon-pin"></i>-->
<!--            <p>آیکون ها</p>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="/notifications.html">-->
<!--            <i class="tim-icons icon-bell-55"></i>-->
<!--            <p>اعلان ها</p>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="/user.html">-->
<!--            <i class="tim-icons icon-single-02"></i>-->
<!--            <p>آیکون تنها</p>-->
<!--          </a>-->
<!--        </li>-->
        <li>
          <a href="{% url 'table_list' %}">
            <i class="tim-icons icon-puzzle-10"></i>
            <p>جداول</p>
          </a>
        </li>
        <li>
          <a href="{% url 'typography' %}">
            <i class="tim-icons icon-align-center"></i>
            <p>چاپ</p>
          </a>
        </li>
        <li>
          <a href="{% url 'rtl' %}">
            <i class="tim-icons icon-world"></i>
            <p>راست چین</p>
          </a>
        </li>
        <li>
            <a href="{% url 'login' %}">
                <i class="tim-icons icon-button-power"></i>
                <p>خروج</p>
            </a>
        </li>
        
      </ul>
    </div>
  </div>
